body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 5em;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px rgba(175, 47, 47, 0.15) solid;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 6px rgba(167, 167, 167, 0.15);
}

.inputbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(175, 47, 47, 0.15);
}

.inputbox input {
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border: 0;
}

.inputbox .text {
  font-size: 20px;
  outline: none;
  width: 600px;
  padding: 6px;
}

.inputbox .save {
  width: 100px;
  margin: 0;
  border: 1;
  cursor: pointer;
}

.inputbox .finishall {
  cursor: pointer;
  height: 60px;
  width: 45px;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border: 0;
}

.finishall {
  color: rgb(163, 163, 163);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 800px;
  /* border: 2px rgb(231, 187, 129) solid; */
  border-top: 0;
}

ul li {
  list-style: none;
  width: 800px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(175, 47, 47, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

li p {
  font-size: 16px;
  width: 650px;
  margin: 0;
  padding: 0;
  max-width: 650px;
  overflow: hidden;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}


.destroy {
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

li button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  display: none;
  justify-content: center;
  background-color: transparent;
}

i {
  /* color: bisque; */
  font-size: 20px;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.tail p {
  width: 160px;
  padding: 0;
  margin: 10px;
}

.tail {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.clearfinished {
  margin-right: 10px;
  cursor: pointer;
}

.clearfinished:hover {
  text-decoration: underline;
}

.selector button {
  background-color: rgb(255, 255, 255);
  margin: 6px;
  border-radius: 2px;
  border: 1px solid rgba(168, 63, 63, 0);
  padding: 4px;
  cursor: pointer;
}

.selector .onhover {
  border: 1px solid rgba(168, 63, 63, 0.144);
}

.selector .onclick {
  border: 1px solid rgba(168, 63, 63, 0.384);
}

.dbchange {
  position: absolute;
  height: 38px;
  width: 732px;
  margin-left: 50px;
  outline: none;
  font-size: 20px;
  display: none;
}

.dbchangeclick {
  position: absolute;
  height: 38px;
  width: 732px;
  margin-left: 50px;
  outline: none;
  font-size: 20px;  
  display: block; 
}